
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: start;
    
}

#right {
    width: calc(100vw - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {  
    
    width : 100%;
    background-color: black;
    color:white;
    padding : 2vh 0;
    overflow: hidden;
}

#scroll-title {
    position : relative;
    
    display: flex;
    flex-direction: row;
    width : 300%;
}

h1 {
    font-size : 10vh;
    letter-spacing: 25px;
    text-align: center;
    width:50%;
}

main{
    display: contents;

}

h2{text-align: center;}


.character-list{

    display: grid;
    grid-template-columns: repeat(3,minmax(24px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.character-card{
    width: clamp(8vw,100px,20vw);
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5%;
    aspect-ratio: 1/2;

    background-position: center;
    background-size: cover;

    position: relative;
}
.character-card:has(input[type="radio"]:checked){

    transform: scale(110%);
    transition: 0.2s ease-in-out;
    background-size: cover;

    border: 5px hsl(17, 94%, 54%) solid;
}
input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.character-name{
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 5px black;
}

.choose-button{
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: hsla(17, 94%, 54%, 0) 5px solid;
    background-color: hsl(17, 94%, 54%);

    color: white;

    font-weight: bold;
}


.choose-button:hover{
    border: hsl(17, 94%, 41%) 5px solid;

    color: rgb(0, 0, 0);

    transition: 0.2s ease-in-out;
}




aside {
    height: 100vh;
    aspect-ratio: 1/2;
    
    background-repeat: no-repeat;
    background-size: cover;
}   
