@font-face {
    font-family: "dbz";
    src: url(./FightingSpirit.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
}

/* Layout */
#right {
    width: calc(100vw - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Header */
header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2vh 0;
    overflow: hidden;
}

#scroll-title {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 300%;
}

h1 {
    font-family: "dbz", sans-serif;
    font-size : 10vh;
    letter-spacing: 25px;
    text-align: center;
    width:50%;
    color: firebrick;
}

main{
    display: contents;

}

h2{text-align: center;}


.character-list{

    display: grid;
    grid-template-columns: repeat(6, minmax(24px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.character-card{
    width: clamp(17.5vh,100px,35vh);
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5%;
    aspect-ratio: 1/2;
    text-decoration: none;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    position: relative;
}

.character-card:has(input[type="radio"]:checked) {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    border: 5px hsl(17, 94%, 54%) solid;
}

input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.character-name{
    font-size: 1.1rem;
    font-weight: bolder;
    color: firebrick;
    -webkit-text-stroke: black 0.5px;
    
}

.choose-button{
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: hsla(17, 94%, 54%, 0) 5px solid;
    background-color: hsl(17, 94%, 54%);

    color: white;

    font-weight: bold;
}


.choose-button:hover{
    border: hsl(17, 94%, 41%) 5px solid;

    color: rgb(0, 0, 0);

    transition: 0.2s ease-in-out;
}




aside {
    height: 100vh;
    aspect-ratio: 1/2;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.sheet-wrapper {
    display : flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;

    width : 80%;
    background-color: black;
    padding: 30px;
    border : firebrick solid 2px;
    border-radius: 15px;
    margin : 2vh 0;
}

.character-sheet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    border: 20px;
}

.desc{
    width: 100%;
    color: firebrick;
}

.stat{
    width: calc(75%/2);
    padding: 30px;
    border-radius: 15px;
    background-color: firebrick;
    color : black;
    
    
}

.desc, .stat{
    border-radius: 12px;
    font-size: 1.3rem;
    
    margin: 15px 0;
}

.choice-zone {
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10vh;

}

.btn {
    display:block;
    padding : 10px 50px;
    margin: 0 30px;
    background-color: firebrick;
    color: black;
    border: firebrick solid 2px;
    font-size: 1.5rem;
    border-radius:  10px;
    text-decoration: none;
    transition: color 500ms, background-color 500ms;
}

.btn:hover {
    background-color: black;
    color: firebrick;
}

/*Jeu de carte*/

#game-zone {
    padding: 35px;
    background-color: black;
    width : 100vw;
    height: 100vh;
    position : fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/*Réglage du nom de l'arène */

#name-wrapper {
    position : fixed;
    z-index : 0;

    width : 100%;
    height : 20vh;

    top : 40vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#arena-name {
    width:fit-content;
    user-select: none;

    color: rgb(88, 14, 14);
    font-family : 'dbz', sans-serif;
    font-size: 13vh;
}

/*les zones de jeux*/

.zone-top, .zone-bottom {
    height : 50%;
    width : 100%;
    display: flex;

    
    align-items: center;
}

.zone-top {
    flex-direction: row-reverse;
    justify-content: end;
}

.zone-bottom {
    flex-direction: row;
    justify-content: start;
}

#player-home, #enemy-home {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.play-zone {
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/

/*card*/

.card {
    height: 100%;
    aspect-ratio: 1/2;
    background-color: firebrick;
    padding : 5px;
    border-radius: 15px;

    z-index: 10;
}

.incard {
    position : relative;
    width:100%;
    height: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-stat {
    position:absolute;
    background-color: black;
    color : firebrick;
    font-size: 1.2rem;
    font-weight: 800;
    border: firebrick solid 1px;
    padding :1px 3px;
}

.card-power {
    top :0;
    left :0;
    border-radius : 10px 0 10px 0;
}

.card-resistance {
    top :0;
    right :0;
    border-radius : 0 10px 0 10px;
}

.card-hitpoints {
    bottom :5px;
    left : 45%;
    border-radius: 50%;
}

