* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.title-screen {
    position: absolute;
    z-index: 5;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../asset/TitleScreen.jpeg");
    background-size: cover;
    background-position: center;

    gap: 20vh;
}

.title-screen:has(input[type="checkbox"]:checked){

    display: none;
}

h1 {
    font-size: 6rem;
    letter-spacing: 25px;
    text-align: center;
    width: 50%;

    color: white;
    text-shadow: 0 0 5px black;
}

.title-screen>p {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    padding: 5px;
    width: 50%;
    text-align: center;
}

.title-screen>p:hover {
    transition: 0.2s;

    transform: scale(110%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(77, 77, 77, 0.75), rgba(0, 0, 0, 0));

}

#right {
    width: calc(100vw - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}






main {
    display: contents;

}

h2 {
    text-align: center;
}


.character-list {

    display: grid;
    grid-template-columns: repeat(5, minmax(24px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.character-card {
    width: clamp(8vw, 100px, 20vw);
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5%;
    aspect-ratio: 1/2;

    background-position: center;
    background-size: cover;

    position: relative;
}

.character-card:has(input[type="radio"]:checked) {

    transform: scale(110%);
    transition: 0.2s ease-in-out;
    background-size: cover;

    border: 5px hsl(332, 85%, 21%) solid;
}

input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.character-name {
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 5px black;
}

.choose-button {
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: hsla(17, 94%, 54%, 0) 5px solid;
    background-color: hsl(17, 94%, 54%);

    color: white;

    font-weight: bold;
}


.choose-button:hover {
    border: hsl(17, 94%, 41%) 5px solid;

    color: rgb(0, 0, 0);

    transition: 0.2s ease-in-out;
}




aside {
    height: 100vh;
    aspect-ratio: 1/2;

    background-repeat: no-repeat;
    background-size: cover;
}