@font-face {
    font-family: "dbz";
    src: url(./FightingSpirit.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
}


#right {
    width: calc(100vw - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Header */
header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 2vh 0;
    overflow: hidden;
}

#scroll-title {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 400%;
}

h1 {
    font-family: "dbz", sans-serif;
    font-size: 10vh;
    letter-spacing: 25px;
    text-align: center;
    width: 50%;
    color: firebrick;
}

h2 {
    text-align: center;
}

/* Main */
main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white; /* <- main blanc */
}

/* Fiche Fighter */
.fighter-main {
    width: 500px;
    background: radial-gradient(circle at top, black);
    border-radius: 20px;
    padding: 30px;
    margin: 40px 0;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 30px rgba(255, 80, 0, 0.6);
    border: 3px solid firebrick;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fighter-description {
    font-size: 1.2rem;
    text-align: center;
    color: #ffd9a0;
}

/* Stats */
.fighter-main > p {
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #400000, #900000);
    border: 2px solid firebrick;
}

/* Couleurs par stat */
.stat-power { background: linear-gradient(90deg, #ff0000, #ff8800); }
.stat-resistance { background: linear-gradient(90deg, #0044ff, #00ccff); }
.stat-hitpoints { background: linear-gradient(90deg, #00aa44, #00ff88); }
.stat-chaos { background: linear-gradient(90deg, #6a00ff, #c800ff); }

/* Characters grid */
.character-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(24px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.character-card {
    width: clamp(10vw, 100px, 20vw);
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 5%;
    aspect-ratio: 1/2;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    position: relative;
}

.character-card:has(input[type="radio"]:checked) {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    border: 5px hsl(17, 94%, 54%) solid;
}

input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.character-name {
    font-size: 1.1rem;
    font-weight: bolder;
    color: firebrick;
}

/* Aside */
aside {
    height: 100vh;
    aspect-ratio: 1/2;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-retour {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px 18px;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    transition: color 0.3s, background-color 500ms;
}

.choice-zone {
    width: 100%;
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    margin-top: 10vh;
}

.btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px 18px;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    transition: color 500ms, background-color 500ms;
}


.btn:hover,.btn-retour:hover {
    background-color: black;
    color: red;
}

#Gamezone{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
}

#name-wrapper{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 20vh;
    top: 40vh;   
    display: flex;
    justify-content: center;
    align-items: center; 
}

#areaname{
    width: fit-content;
    user-select: none;
    color: firebrick;
    font-family: serif;
    font-size: 13vh;
}

.play-zone{
    height: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card{
    height: 100%;
    aspect-ratio: 1/2;
    background-color: firebrick;
    padding: 5px;
    border-radius: 10px;
       z-index: 10;
}

.incard{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.stat{
    position: absolute;
    background-color: black;
    color: tomato;
    border: #ff0000 solid 2px;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px 0px 5px 0px;
}

.power{
    top: 0%;
    left: 0%;
    border-radius: 10px 0px 5px 0px;
}

.resistance{
    top: 0%;
    right: 0%;
    border-radius: 0px 10px 0px 5px;
}

.hitpoints{
    bottom: 5px;
    left: 40%;
    border-radius: 50%;
}
.zone-top, .zone-bottom{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;    
}

.zone-top{
    flex-direction: row;
     justify-content: start;
}

.zone-bottom{
    flex-direction: row-reverse;
        justify-content: end;
}

#player-home, #enemy-home{
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}